#red {
    background-color: red;
}
#green {
    background-color: green;
}
#blue {
    background-color: blue;
}
#random {
    background-color: gray;
}
button {
    color: white;
    border: none;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    width: 100px;
    height: 50px;
}
button:hover {
    opacity: 0.3;
}
body {
    text-align: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
}
h1 {
    margin-bottom: 20px;
}