*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

.container {
    width:100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #12121f;
    color: #eee;
}
.calender {
    height: 53rem;
    width: 45rem;
    background-color: #1e1e2f;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding: 2rem;
}

.month {
    width: 100%;
    height: 12rem;
    background-color: #167e56;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.month i {
    color: #eee;
    font-size: 2.5rem;
    cursor: pointer;
}

.month h1 {
    font-size: 3.5rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 100%;
    height: 5rem;
    display: flex;
    padding: 0 0.4rem;
    align-items: center;
}
.weekdays div {
    width: calc(44.2rem/ 7);
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    color: #aaa;
    letter-spacing: 0.1rem;
    align-items: center;
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    width: calc(40.2rem/ 7);
    height: 5rem;
    font-size: 1.4rem;
    display:flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 3px rgba(0,0,0,0.2);
    transition: background-color 0.2s;
}

.days div:hover:not(.today) {
    background-color: #262626;
    border: 0.2rem solid #167e56;
    cursor: pointer;
}

.prev-date,
.next-date {
    opacity:0.5;
}

.today {
    background-color: #167e56;
}