body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: burlywood;
}

h1 {
    color: rgb(245, 236, 225);
}

input {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    margin-bottom: 20px;
    border-radius: 10px;
    background-color:rgb(245, 236, 225); ;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgb(250, 212, 165);
}

button:hover {
    background-color: rgb(249, 233, 213);
}