* {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    scrollbar-width: none;
}
body {
    height: 100vh;
    overflow-x: hidden;
}
:root {
    --color-one: green;
    --color-two: blue;
    --color-four: yellow;
}
nav {
    width: 100%;
    height: 80px;
    top: 0;
    background: var(--color-one);
}
nav ul{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li {
    height: 100%;
}
nav li:first-child {
    margin-right: auto;
}
nav img {
    width: 50px;
    height: 50px;
}
nav img:hover {
    transform: scale(1.1);
}
#logo {
    background: var(--color-one);
}
nav a {
    height: 100%;
    width: 100%;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0 30px;
    font-size: 20px;
    color: var(--color-four);
}
nav li:hover {
    background: var(--color-two);
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    height: 100vh;
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: black transparent;
    backdrop-filter: blur(3px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
}
.sidebar li:hover {
    width: 100%;
}
#bars {
    display: none;
}
.home-section {
    background-image: url(images/banner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} 
.home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-four);
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}
h1 {
    margin-top: 50px; 
    font-size: 80px;
}
h3 {
    font-size: 30px;
}
.social-icons {
    margin-top: 50px;
    font-size: 30px;
}
.home-section i {
    padding: 10px;
    background: var(--color-one);
    border-radius: 50%;
}
.home-section i:hover {
    transform: scale(1.1);
}
.combo-images {
    width: 100%;
    height: auto;
    object-fit: cover;
    overflow: hidden;
}
.combo-images img{
    width: 350px;
    height: 400px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 8px 8px 9px rgba(0, 0, 0, 0.2);
}
.combo-images img:hover{
    box-shadow: 9px 9px 14px rgba(0, 128, 0, 0.724);
}
.combo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.combo-content h2{
    margin: 30px 0;
    font-size: 50px;
    color: var(--color-one);
}
.combo-section {
    background: var(--color-four);
}
.menu-section {
    background: var(--color-one);
}
.menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.menu-content h2 {
    font-size: 80px;
    color: var(--color-four);
    margin: 30px 0;
}
.prices {
    margin-top: 50px;
}
.prices ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.prices li {
    font-size: 30px;
    color: var(--color-four);
    padding: 30px;
}
.menu-content i {
    font-size: 30px;
    background: var(--color-four);
    border-radius: 50%;
    padding: 10px;
}
.menu-content i:hover {
    transform: scale(1.1);
}


@media (max-width: 700px) {
    #bars {
        display: flex;
    }
    .hideOnMobile {
        display: none;
    }
    .prices ul {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 400px) {
    .sidebar {
        width: 100%;
    }
    .prices ul {
        grid-template-columns: 1fr;
    }

}