* {
    margin: 0;
    padding: 0;
}
html {
    scrollbar-width: none;
    scroll-behavior: smooth;   
}
body {
    width: 100vw;  
}
header {
    position: absolute;
    z-index: 1;
    background: rgba(51, 51, 177, 0.797);
    width: 80%;
    height: 100px;
    margin-left: 10%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.283);
    border-radius: 0 0px 20px 20px;
}
nav {
    width: 100%;
    height: 100%;
}
nav ul {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
nav li{
    height: 100%;
}
nav li:first-child {
    margin-right: auto;
}
nav img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
nav a {
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 20px;
    font-size: 30px;   
}
nav a:hover {
    transform: scale(1.1);
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 300px;
    height: 100vh;
    background: rgba(9, 9, 9, 0.276) ;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.285);
}
#bars {
    display: none;
}
.home-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: rgb(6, 6, 94);
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-section img {
    position: absolute;
}
.home-section h1 {
    position: absolute;
    z-index: 2;
    font-size: 80px;
    color: rgb(103, 99, 152);
    top: 80px;
}
.burger {
    z-index: 3;
    width: 200px;
    height: 300px;
    top: calc(50% - 50px);
    left: 500px
}
.drink {
    z-index: 1;
    width: 300px;
    height: 300px;
    top: calc(50% - 100px);
    right: 380px;
}
.fries {
    z-index: 4;
    width: 300px;
    height: 150px;
    top: calc(50% + 120px);
    left: 350px;
}
.combo-section {
    position: relative;
    height: 100vh;
    background: rgba(51, 51, 177, 0.797);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.combo-section h1 {
    font-size: 50px;
    color: blue;
}
.img-container {
    display: flex;
}
.burger-combo img {
    width: 100%;
    height: 100%;
}
.burger-combo img:hover {
    transform: scale(1.1);
}
.burger-combo {
    width: 300px;
    height: 350px;
    padding: 20px;
}
.text-content {
    font-size: 20px;
    color: blue;  
}
.text-content h3 {
    color: rgb(156, 158, 206);
}







@media (max-width: 700px) {
    .hideOnMobile {
        display: none;
    }
    #bars {
        display: flex;
    }
}
@media (max-width: 500px) {
    .home-section h1 {
        margin-left: 20%;
        margin-right: 20%;
    }
}