* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-image: url(barbers_banner.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
nav {
    background-color: rgba(225, 225, 225, 0.858);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 10px 10px;
}
nav ul {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: rgb(27, 26, 26);
}
nav a:hover {
    background-color: #f0f0f0;
}
nav li:first-child {
    margin-right: auto;
}
.sidebar {
    position:fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 1000;
    background-color: white transparent;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;    
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
#logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid grey ;
}
#logo:hover {
    transform: scale(1.1);
}
.sidebar li {
    width: 100%;
}
.sidebar a {
    width: 100%;
}
#bars {
    font-size: 30px;
    font-weight: 800;
}
#x-icon {
    font-size: 20px;
    font-weight: 800;
}
#bars {
    display: none;
}

@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
    #bars {
        display: block;
    }
}
@media(max-width: 400px) {
    .sidebar {
        width: 100%
    }
}