*, ::before, ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scrollbar-width: none;
    scroll-behavior: smooth;
}
.logo {
    width: 50px;
    height: 50px;
}
header {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
header nav {
    background: greenyellow;
    max-width: 100vw;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul {
    display: flex;
    list-style: none;
    align-items: center;
}
header ul a {
    text-decoration: none;
    color: rgb(51, 128, 128);
    padding: 30px;
    font-size:  30px;
    text-transform: uppercase;
    font-weight: 400;
}
.bars {
    font-size: 50px;
    font-weight: 600;
}
main {
    position: relative;
    background-color: rgb(6, 46, 81);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.drink {
    position: absolute;
    z-index: 1;
    width: 300px;
    height: 450px;
    top: calc(50% - 200px);
    right: 200px;
}
.burger {
    position: absolute;
    z-index: 3;
    width: 250px;
    height: 300px;
    top: calc(50% - 40px);
    left: calc(50% + 30px);
}
.fries {
    position: absolute;
    z-index: 4;
    width: 350px;
    height: 150px;
    top: calc(50% + 150px);
    left: 500px;
}
.heading {
    position: absolute;
    z-index: 2;
    top: calc(50% - 200px);
    left: calc(50% - 280px);
    text-align: center;
}
.heading h2 {
    color: white;
    font-size: 100px;
    text-shadow: 5px 5px 8px rgba(92, 234, 79, 0.347);
}
.parallax {
    pointer-events: auto;
}
section {
    height: 100vh;
    background: rgb(41, 41, 172);
}